<header>
  <nav class="navbar navbar-expand-lg bg-transparent w-100" style="z-index: -1;">
    <div class="container-fluid">
      <a class="navbar-brand text-muted" href="/">CaphePhim</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Thể loại</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Quốc gia</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm theo tên phim, đạo diên, diễn viên...">
            <button class="input-group-text" id="search"><i class="bi bi-search"></i></button>
          </div>
        </form>
        <div>
          <i class="bi bi-person-circle"></i>
        </div>
      </div>
    </div>
  </nav>
</header>